.Titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  .warp {
    color: #c9af28;
    display: block;
    position: relative;
    margin-bottom: -215px;
    width: 420px;
    height: 220px;
    font: normal 50px/1 ultra;
    .warp__placeholder {
      position: absolute;
      color: transparent;
      font-size: 0.1px;
    }
    .warp__0 {
      transform-origin: 50% 43px;
      transform: translate(14.221499999999999px, 207.7832px)
        rotate(-1.528868rad);
      display: block;
      position: absolute;
    }

    .warp__1 {
      transform-origin: 50% 43px;
      transform: translate(6.330200000000001px, 162.9572px) rotate(-1.416282rad);
      display: block;
      position: absolute;
    }

    .warp__2 {
      transform-origin: 50% 43px;
      transform: translate(20.1076px, 132.4151px) rotate(-1.271011rad);
      display: block;
      position: absolute;
    }

    .warp__3 {
      transform-origin: 50% 43px;
      transform: translate(23.990299999999998px, 103.0106px) rotate(-1.1119rad);
      display: block;
      position: absolute;
    }

    .warp__4 {
      transform-origin: 50% 43px;
      transform: translate(44.1805px, 76.5577px) rotate(-0.985102rad);
      display: block;
      position: absolute;
    }

    .warp__5 {
      transform-origin: 50% 43px;
      transform: translate(58.212599999999995px, 54.7804px) rotate(-0.806914rad);
      display: block;
      position: absolute;
    }

    .warp__6 {
      transform-origin: 50% 43px;
      transform: translate(82.9777px, 32.3116px) rotate(-0.60523rad);
      display: block;
      position: absolute;
    }

    .warp__7 {
      transform-origin: 50% 43px;
      transform: translate(136.684px, 5.3652000000000015px) rotate(-0.310712rad);
      display: block;
      position: absolute;
    }

    .warp__8 {
      transform-origin: 50% 43px;
      transform: translate(166.9705px, -5.1709px) rotate(-0.1352163rad);
      display: block;
      position: absolute;
    }

    .warp__9 {
      transform-origin: 50% 43px;
      transform: translate(195.7356px, -8.2057px) rotate(0.03339rad);
      display: block;
      position: absolute;
    }

    .warp__10 {
      transform-origin: 50% 43px;
      transform: translate(231.4001px, -4.818px) rotate(0.1742rad);
      display: block;
      position: absolute;
    }

    .warp__11 {
      transform-origin: 50% 43px;
      transform: translate(257.2886px, 1.4719px) rotate(0.352294rad);
      display: block;
      position: absolute;
    }

    .warp__12 {
      transform-origin: 50% 43px;
      transform: translate(290.0263px, 14.6194px) rotate(0.489927rad);
      display: block;
      position: absolute;
    }

    .warp__13 {
      transform-origin: 50% 43px;
      transform: translate(313.4019px, 32.3116px) rotate(0.60523rad);
      display: block;
      position: absolute;
    }

    .warp__14 {
      transform-origin: 50% 43px;
      transform: translate(339.1953px, 54.7804px) rotate(0.806914rad);
      display: block;
      position: absolute;
    }

    .warp__15 {
      transform-origin: 50% 43px;
      transform: translate(359.5417px, 76.5577px) rotate(0.985102rad);
      display: block;
      position: absolute;
    }

    .warp__16 {
      transform-origin: 50% 43px;
      transform: translate(373.3396px, 103.0106px) rotate(1.1119rad);
      display: block;
      position: absolute;
    }

    .warp__17 {
      transform-origin: 50% 43px;
      transform: translate(383.6697px, 132.4151px) rotate(1.271011rad);
      display: block;
      position: absolute;
    }
    .warp__19 {
      transform-origin: 50% 43px;
      transform: translate(388.4301px, 162.9572px) rotate(1.416282rad);
      display: block;
      position: absolute;
    }
    .warp__18 {
      transform-origin: 50% 43px;
      transform: translate(393.5568px, 208.7832px) rotate(1.512093rad);
      display: block;
      position: absolute;
    }
  }
  .warp1 {
    color: #c9af28;
    display: block;
    position: relative;
    width: 410px;
    height: 425px;
    font: normal 50px/1 ultra;

    .warp__placeholder {
      position: absolute;
      color: transparent;
      font-size: 0.1px;
    }
    .warp__0 {
      transform-origin: 50% 43px;
      transform: translate(-19.3401px, 264.2599px) rotate(1.140803rad);
      display: block;
      position: absolute;
    }

    .warp__1 {
      transform-origin: 50% 43px;
      transform: translate(19.8983px, 301.1251px) rotate(0.888926rad);

      display: block;
      position: absolute;
    }

    .warp__2 {
      transform-origin: 50% 43px;
      transform: translate(49.2342px, 330.8688px) rotate(0.779129rad);

      display: block;
      position: absolute;
    }

    .warp__3 {
      transform-origin: 50% 43px;
      transform: translate(78.183px, 354.7419px) rotate(0.593712rad);
      display: block;
      position: absolute;
    }

    .warp__4 {
      transform-origin: 50% 43px;
      transform: translate(112.7694px, 375.0887px) rotate(0.407532rad);
      display: block;
      position: absolute;
    }

    .warp__5 {
      transform-origin: 50% 43px;
      transform: translate(173.7472px, 367.6282px) rotate(0.12393rad);
      display: block;
      position: absolute;
    }

    .warp__6 {
      transform-origin: 50% 43px;
      transform: translate(206.8061px, 368.9141px) rotate(-0.046429rad);
      display: block;
      position: absolute;
    }

    .warp__7 {
      transform-origin: 50% 43px;
      transform: translate(241.6013px, 394.5691px) rotate(-0.293758rad);
      display: block;
      position: absolute;
    }

    .warp__8 {
      transform-origin: 50% 43px;
      transform: translate(285.3169px, 371.0887px) rotate(-0.366129rad);
      display: block;
      position: absolute;
    }

    .warp__9 {
      transform-origin: 50% 43px;
      transform: translate(328.7657px, 353.7419px) rotate(-0.660373rad);
      display: block;
      position: absolute;
    }

    .warp__10 {
      transform-origin: 50% 43px;
      transform: translate(353.5687px, 330.8688px) rotate(-0.781209rad);
      display: block;
      position: absolute;
    }

    .warp__11 {
      transform-origin: 50% 43px;
      transform: translate(369.6988px, 298.1251px) rotate(-1.030823rad);
      display: block;
      position: absolute;
    }

    .warp__12 {
      transform-origin: 50% 43px;
      transform: translate(390.6988px, 264.2599px) rotate(-1.130823rad);
      display: block;
      position: absolute;
    }
  }
  .logo {
    width: 320px;
    margin-top: -307px;
  }
}
